@{ 
    Layout = "~/Views/Shared/_Header.cshtml";
}
<head>
    <link href="~/css/contact.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div class="plaatjeBoven">
    <img src="~/images/Contact-Tulpen.png" alt="Tulp" style=" height:auto; width:100%;">
    </div>
    <div class="WitteContext">
    <h1 class="contact">Contact</h1>

    <table>
        <tr>
            <td>
                <p class="Links">In 2020 is Keukenhof open van 21 maart tot en met 10 mei tussen 9:00-17:00 uur.</p>
            </td>
            <td>
                <p class="Rechts">Bezoekersadres:<br />Stationsweg 166A, 2161 AM Lisse</p>
            </td>
        </tr>
    </table>
    </div>

    <div class="Lichtgroen">
        <h2 class="GroenTitel">Waar bent u naar op zoek?</h2>
        <a class="vakjes" href="https://www.youtube.com/watch?v=oHg5SJYRHA0">
            <div class="Groen1">
                <div class="EerstePijl">
                    <img src="~/images/arrow-right.svg" alt="pijltje" />
                </div>
                <div class="keuze1">

                </div>
                <div class="CPlaatjeTitel1">
                    <p class="Titel">Groepen</p>
                </div>
            </div>
        </a>
        <a class="vakjes" href="https://www.youtube.com/watch?v=oHg5SJYRHA0">
            <div class="Groen2">
                <div class="TweedePijl">
                    <img src="~/images/arrow-right.svg" alt="pijltje" />
                </div>
                <div class="keuze2">

                </div>
                <div class="CPlaatjeTitel">
                    <p class="Titel">Pers</p>
                </div>
            </div>
        </a>
        <a class="vakjes" href="https://www.youtube.com/watch?v=oHg5SJYRHA0">
            <div class="Groen3">
                <div class="DerdePijl">

                    <img src="~/images/arrow-right.svg" alt="pijltje" />

                </div>
                <div class="keuze3">

                </div>
                <div class="CPlaatjeTitel">
                    <p class="Titel">Gevonden Items</p>
                </div>

            </div>
        </a>
        <a class="vakjes" href="https://www.youtube.com/watch?v=oHg5SJYRHA0">
            <div class="Groen4">
                <div class="VierdePijl">
                    <img src="~/images/arrow-right.svg" alt="pijltje" />
                </div>
                <div class="keuze4">

                </div>
                <div class="CPlaatjeTitel">
                    <p class="Titel">Leveranciers</p>
                </div>
            </div>
        </a>
    </div>

    <div class="PInfo">
        <h2 class="OranjeTitel">Praktische Informatie</h2>


        <div class="row">
            <div class="columnPlaatje">
                <img src="~/images/VrouwMetBlijeTelefoon.png" alt="Telefoon" class="TelefoonMevrouw">
            </div>
            <div class="infoTekst">
                <div class="columnTekst">
                    <h1 class="oranjeTitel">Openingstijden</h1>
                    <p class="Otekst">De Keukenhof is geopend van <b>21 maart - 10 mei 2020 van 9:00-17:00u</b></p>
                    <p class="Otekst">Terwijl het park is gesloten, worden er verschillende evenementen gehouden</p>
                </div>
                <div class="columnTekst">
                    <h1 class="oranjeTitel">Hoe kan ik contact opnemen met Keukenhof?</h1>
                    <p class="Otekst">De Keukenhof is geopend van <b>21 maart - 10 mei 2020 van 9:00-17:00u</b></p>
                    <p class="Otekst">Terwijl het park is gesloten, worden er verschillende evenementen gehouden</p>
                </div>
            </div>
        </div>

    </div>

</body>