<head>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/contact.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/contact.min.css" asp-append-version="true" />
    </environment>
</head>
<div class="container">

    <div class="afbeelding">

    </div>
    <div class="contact_text">
        <h1>Contact</h1>
        <div class="onder_text">
            <div class="text">
                <p1>In 2020 is Keukenhof open van 21 maart tot en met<br />10 mei tussen 9:00-17:00 uur.</p1>
                <p2>Bezoekersadres:<br />Stationsweg 166A, 2161 AM Lisse</p2>
            </div>
        </div>
    </div>

</div>




