@{ 
    Layout = "~/Views/Shared/_Header.cshtml";
}

<!--<div class="container">
    <div class="afbeelding">
        <img src="~/images/Contact-Tulpen.png" alt="Tulp" style=" height:auto; width:100%; " >
    </div>

        <div class="contact_text">
            <h1>Contact</h1>
            <div class="onder_text">
                <div class="text">
                    <p1>In 2020 is Keukenhof open van 21 maart tot en met<br />10 mei tussen 9:00-17:00 uur.</p1>
                    <p2>Bezoekersadres:<br />Stationsweg 166A, 2161 AM Lisse</p2>
                </div>
            </div>
        </div>

        <div class="tweedeDeel">
            <h2>Waarvoor zoekt u contact?</h2>
        </div>
    </div> -->
<head>
    <link rel="stylesheet" type="text/css" href="~/css/contact.css">
</head>


<img src="~/images/Contact-Tulpen.png" alt="Tulp" style=" height:auto; width:100%;">
<div>
    <h1>Contact</h1>

    <div class="LinkerTekst">
        <p class="Links">In 2020 is Keukenhof open van 21 maart tot en met<br />10 mei tussen 9:00-17:00 uur.</p>
    </div>
    <div class="RechterTekst">
        <p3 class="Rechts">Bezoekersadres:<br />Stationsweg 166A, 2161 AM Lisse</p3>
    </div>
</div>
