<head>
    <link rel="stylesheet" href="~/css/Hoofdpagina_css.css" />
</head>
      
    <div class="key_visual">

        <div class="plaatje">
        
        </div>
        <div class="titel">
            <p>Het mooiste lentepark van de wereld</p>
        </div>
        <div class="informatie">
            <div class="informatie_links">
                <div class="text_links">
                    <p>Open 21 Maart - 10 Mei</p>
                </div>
                <div class="text_link_links">
                    <p>Ontdek het park</p>
                </div>
                
                <div class="pijl_links">
                    <a href="https://www.youtube.com/watch?v=oHg5SJYRHA0">
                        <img src="~/images/arrow-right.svg" alt="kaaaaaas">
                    </a>
               
                </div>
               

            </div>
            <div class="informatie_midden">
                <div class="text_midden">
                    <p>Kom vandaag nog langs</p>
                </div>
                <div class="text_link_midden">
                    <p>Bekijk het park</p>
                </div>
               
                    <div class="pijl_midden">
                        <a href="https://www.youtube.com/watch?v=oHg5SJYRHA0">
                            <img src="~/images/arrow-right.svg" alt="kaaaaaas">
                        </a>
                    </div>
         
            </div>
            <div class="informatie_rechts">
                <div class="text_rechts">
                    <p>Wat is Keukenhof?</p>
                </div>
                <div class="text_link_rechts">
                    <p>Bekijk video</p>
                </div>
         
                    <div class="pijl_rechts">
                        <a href="https://www.youtube.com/watch?v=oHg5SJYRHA0">
                            <img src="~/images/arrow-right.svg" alt="kaaaaaas">
                        </a>
                    </div>
    
            </div>
        </div>
    </div>
    <div class="plaatjes_deel">
        <div class="plaatjes_titel">
            <p>Waar bent u naar op zoek?</p>
        </div>
        <div class="vakje1">
            <div class="pijl1">
                <img src="~/images/arrow-right.svg" alt="kaaaaaas">
            </div>
            <div class="plaatje1">

            </div>
            <div class="titel1">
                <p>Bereikbaarheid</p>
            </div>
        </div>
        <div class="vakje2">
            <div class="pijl2">
                <img src="~/images/arrow-right.svg" alt="kaaaaaas">
            </div>
            <div class="plaatje2">

            </div>
            <div class="titel2">
                <p>Evenementen</p>
            </div>
        </div>
        <div class="vakje3">
            <div class="pijl3">
                <a href="#">
                <img src="~/images/arrow-right.svg" alt="kaaaaaas">
                </a>
            </div>
            <div class="plaatje3">

            </div>
            <div class="titel3">
                <p>Faciliteiten</p>
            </div>

        </div>
        <div class="vakje4">
            <div class="pijl4">
                <img src="~/images/arrow-right.svg" alt="kaaaaaas">
            </div>
            <div class="plaatje4">

            </div>
            <div class="titel4">
                <p>Bloemenshows</p>
            </div>
        </div>
    </div>
