<head>
    <link rel="stylesheet" href="~/css/Hoofdpagina_css.css" />
</head>
      
    <div class="key_visual">

        <div class="plaatje">
        
        </div>
        <div class="titel">
            <p>Het mooiste lentepark van de wereld</p>
        </div>
        <div class="informatie">
            <a href="https://www.youtube.com/watch?v=oHg5SJYRHA0">
                <div class="informatie_links">
                    <div class="text_links">
                        <p>Open 21 Maart - 10 Mei</p>
                    </div>
                    <div class="text_link_links">
                        <p>Ontdek het park</p>
                    </div>

                    <div class="pijl_links">

                        <img src="~/images/arrow-right.svg" alt="kaaaaaas">


                    </div>

                </div>
            </a>
            <a href="https://www.youtube.com/watch?v=oHg5SJYRHA0">
                <div class="informatie_midden">
                    <div class="text_midden">
                        <p>Kom vandaag nog langs</p>
                    </div>
                    <div class="text_link_midden">
                        <p>Bekijk het park</p>
                    </div>

                    <div class="pijl_midden">
                      
                            <img src="~/images/arrow-right.svg" alt="kaaaaaas">
                      
                    </div>

                </div>
            </a>
            <a href="https://www.youtube.com/watch?v=oHg5SJYRHA0">
                <div class="informatie_rechts">
                    <div class="text_rechts">
                        <p>Wat is Keukenhof?</p>
                    </div>
                    <div class="text_link_rechts">
                        <p>Bekijk video</p>
                    </div>

                    <div class="pijl_rechts">
                     
                            <img src="~/images/arrow-right.svg" alt="kaaaaaas">
                     
                    </div>

                </div>
            </a>
</div>
    </div>
    <div class="plaatjes_deel">
        <div class="plaatjes_titel">
            <p>Waar bent u naar op zoek?</p>
        </div>
        <a class="vakjes"href="https://www.youtube.com/watch?v=oHg5SJYRHA0">
            <div class="vakje1">
                <div class="pijl1">
                    <img src="~/images/arrow-right.svg" alt="kaaaaaas">
                </div>
                <div class="plaatje1">

                </div>
                <div class="titel1">
                    <p>Bereikbaarheid</p>
                </div>
            </div>
        </a>
        <a class="vakjes" href="https://www.youtube.com/watch?v=oHg5SJYRHA0">
            <div class="vakje2">
                <div class="pijl2">
                    <img src="~/images/arrow-right.svg" alt="kaaaaaas">
                </div>
                <div class="plaatje2">

                </div>
                <div class="titel2">
                    <p>Evenementen</p>
                </div>
            </div>
        </a>
        <a class="vakjes" href="https://www.youtube.com/watch?v=oHg5SJYRHA0">
            <div class="vakje3">
                <div class="pijl3">
                
                        <img src="~/images/arrow-right.svg" alt="kaaaaaas">
                   
                </div>
                <div class="plaatje3">

                </div>
                <div class="titel3">
                    <p>Faciliteiten</p>
                </div>

            </div>
        </a>
        <a class="vakjes" href="https://www.youtube.com/watch?v=oHg5SJYRHA0">
            <div class="vakje4">
                <div class="pijl4">
                    <img src="~/images/arrow-right.svg" alt="kaaaaaas">
                </div>
                <div class="plaatje4">

                </div>
                <div class="titel4">
                    <p>Bloemenshows</p>
                </div>
            </div>
        </a>
</div>

    <div class="deel3">
        <div class="openingstijden">
            <div class="openingstijden_text">
                <p>Openingstijden</p>
            </div>
            <div class="openingstijden_chevron">
                <img src="~/images/chevron-down.svg" alt="Chevron Down">
            </div>
        </div>
        <div class="toegankelijkheid">
            <div class="toegankelijkheid_text">
                <p>Toegankelijkheid</p>
            </div>
            <div class="toegankelijkheid_chevron">
                <img src="~/images/chevron-down.svg" alt="Chevron Down">
            </div>

        </div>
        <div class="parkeren">
            <div class="parkeren_text">
                <p>Parkeren en openbaar vervoer</p>
            </div>
            <div class="parkeren_chevron">
                <img src="~/images/chevron-down.svg" alt="Chevron Down">
            </div>

        </div>
        <div class="groepen">
            <div class="groepen_text">
                <p>Groepen</p>
            </div>
            <div class="groepen_chevron">
                <img src="~/images/chevron-down.svg" alt="Chevron Down">
            </div>
        </div>
        <div class="meer_info">
            <div class="meer_text">
                <p>Meer praktische informatie</p>
            </div>
            <div class="pijl_meer">
                <img src="~/images/arrow-right.svg" alt="kaaaaaas">
            </div>
        </div>
        <div class="praktische_info">
            <p> Praktische informatie</p>
        </div>
        <div class="onder_info">
            <p>Download de kaart of krijg er een bij de informatiebalie</p>
        </div>
        <div class="map_deel">
            <div class="download">
                <div class="button">

                </div>
                <div class="download_text">
                    <p>Download de kaart</p>
                </div>
                <div class="download_icon">
                    <img src="~/images/download.svg" alt="Download icon">
                </div>
            </div>

            <div class="map">

            </div>
        </div>
    </div>
