
<body>
    <div class="key_visual">
        <div class="titel">
            <p>Het mooiste lentepark van de wereld</p>
        </div>
        <div class="plaatje">
            <h2>HTML Image</h2>
            <img src="/images/190422LLT8397.jpg" alt="planten zijn gaaf" width="1600" height="700">
        </div>
        <div class="informatie">
            <div class="informatie_links">
                <div class="text_links">
                    <p>Open 21 Maart - 10 Mei</p>
                </div>
                <div class="text_link_links">
                    <p>Ontdek het park</p>
                </div>
                <div class="pijl_links">
                    <img src="~/images/arrow-right.svg" alt="kaaaaaas">
                </div>
            </div>
            <div class="informatie_midden">
                <div class="text_midden">
                    <p>Kom vandaag nog langs</p>
                </div>
                <div class="text_link_midden">
                    <p>Bekijk het park</p>
                </div>
                <div class="pijl_midden">

                </div>
            </div>
            <div class="informatie_rechts">
                <div class="text_rechts">
                    <p>Wat is Keukenhof?</p>
                </div>
                <div class="text_link_rechts">
                    <p>Bekijk video</p>
                </div>
                <div class="pijl_rechts">

                </div>
            </div>
        </div>
    </div>
    </body>