@{
    Layout = "~/Views/Shared/_Header.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/Hoofdpagina_css.css" />
</head>
      
    <div class="key_visual">
        <p class="scroll">Scroll</p>
        <img class="scroll_down" src="~/images/arrow-down.svg" alt="Arrow-Down" />
        <div class="hoofd_plaatje"></div>
        <p class="hoofd_titel"> Het mooiste lentepark van de wereld</p>
        <div class="informatie">
                <a class="informatie_links" href="https://www.youtube.com/watch?v=oHg5SJYRHA0">
                    <p class="informatie_text">Open 21 Maart - 10 Mei</p>
                    <p class="link_text">Ontdek het park</p>
                     <img class="informatie_pijlen" src="~/images/arrow-right.svg" alt="Arrow-Right">
                </a>
            <a class="informatie_midden "href="https://www.youtube.com/watch?v=oHg5SJYRHA0">
                    <p class="informatie_text_midden">Kom vandaag nog langs</p>
                    <p class="link_text_midden">Bekijk het park</p>
                    <img class="informatie_pijlen" src="~/images/arrow-right.svg" alt="Arrow-Right">
            </a>
                <a class="informatie_rechts" href="https://www.youtube.com/watch?v=oHg5SJYRHA0">
                    <p class="informatie_text">Wat is Keukenhof?</p>
                    <p class="link_text">Bekijk video</p>
                    <img class="informatie_pijlen" src="~/images/arrow-right.svg" alt="Arrow-Right">
                </a>
            </div>
    </div>

    <div class="zoek_deel">
        <p class="zoek_titel">Waar bent u naar op zoek?</p>
        <a class="zoek_vakjes"href="https://www.youtube.com/watch?v=oHg5SJYRHA0">
            <div class="zoek_vakje1">
                <img class="zoek_pijlen" src="~/images/arrow-right.svg" alt="Arrow-Right">
                <div class="zoek_plaatje1"></div>
                <p class="zoek_titels">Bereikbaarheid</p>
            </div>
        </a>
        <a class="zoek_vakjes" href="https://www.youtube.com/watch?v=oHg5SJYRHA0">
            <div class="zoek_vakje2">
                <img class="zoek_pijlen" src="~/images/arrow-right.svg" alt="Arrow-Right">
                <div class="zoek_plaatje2"></div>
                <p class="zoek_titels">Evenementen</p>
            </div>
        </a>
        <a class="zoek_vakjes" href="https://www.youtube.com/watch?v=oHg5SJYRHA0">
            <div class="zoek_vakje3">
                <img class="zoek_pijlen" src="~/images/arrow-right.svg" alt="Arrow-Right">
                <div class="zoek_plaatje3"></div>
                <p class="zoek_titels">Faciliteiten</p>
            </div>
        </a>
        <a class="zoek_vakjes" href="https://www.youtube.com/watch?v=oHg5SJYRHA0">
            <div class="zoek_vakje4">
                <img class="zoek_pijlen" src="~/images/arrow-right.svg" alt="Arrow-Right">
                <div class="zoek_plaatje4"></div>
                <p class="zoek_titels">Bloemenshows</p>
            </div>
        </a>
</div>

    <div class="praktisch_deel">
        <div class="openingstijden">
            <p class="praktisch_kopjes">Openingstijden</p>
            <img class="praktische_chevrons" src="~/images/chevron-down.svg" alt="Chevron Down">
        </div>
        <div class="toegankelijkheid">
            <p class="praktisch_kopjes">Toegankelijkheid</p>
            <img class="praktische_chevrons" src="~/images/chevron-down.svg" alt="Chevron Down">
        </div>
        <div class="parkeren">
            <p class="praktisch_kopjes">Parkeren en openbaar vervoer</p>
            <img class="praktische_chevrons" src="~/images/chevron-down.svg" alt="Chevron Down">
        </div>
        <div class="groepen">
            <p class="praktisch_kopjes">Groepen</p>
            <img class="praktische_chevrons" src="~/images/chevron-down.svg" alt="Chevron Down">
        </div>
        <div class="meer_info">
            <p class="meer_text">Meer praktische informatie</p>
            <img class="pijl_meer" src="~/images/arrow-right.svg" alt="Arrow-Right">
        </div>
        <p class="praktisch_titel">Praktische informatie</p>
        <p class="praktisch_ondertitel">Download de kaart of krijg er een bij de informatiebalie</p>
        <div class="map_deel">
            <div class="download">
                <div class="button"></div>
                <p class="download_text">Download de kaart</p>
                <img class="download_icon" src="~/images/download.svg" alt="Download icon">
            </div>
            <div class="map"></div>
        </div>
    </div>

    <div class="nieuws_deel">
        <div class="bekijk">
            <p class="bekijk_alles">Bekijk alle</p>
            <img class="bekijk_alles_pijl" src="~/images/arrow-right.svg" alt="Arrow-Right" />
        </div>
        <div class="nieuws_artikel1">
            <div class="leesmeer_button">
                <p class="leesmeer_text">Lees meer</p>
            </div>
            <p class="nieuws_titel">De bloembollen voor 2020 worden weer geplant</p>
            <p class="nieuws_datum">7 OKT 2019</p>
            <div class="nieuwstag">
                <p class="nieuwstag_text">>Nieuws</p>
            </div>
            <div class="foto_nieuws1"></div>
        </div>
        <div class="nieuws_artikel2">
            <div class="leesmeer_button">
                <p class="leesmeer_text">Lees meer</p>
            </div>
            <p class="nieuws_titel">De bloembollenmarkt was weer een groot succes</p>
            <p class="nieuws_datum"> 5 OKT 2019</p>
            <div class="nieuwstag">
                <p class="nieuwstag_text">>Nieuws</p>
            </div>
            <div class="foto_nieuws2"></div>
        </div>
        <div class="nieuws_artikel3">
            <div class="leesmeer_button">
                <p class="leesmeer_text">Lees meer</p>
            </div>
            <p class="nieuws_titel">Wat zal het thema voor volgend jaar Keukenhof worden?</p>
            <p class="nieuws_datum">2 AUG 2019</p>
            <div class="nieuwstag">
                <p class="nieuwstag_text">>Nieuws</p>
            </div>
            <div class="foto_nieuws3"></div>
        </div>
        <div class="nieuws_artikel4">
            <div class="leesmeer_button">
                <p class="leesmeer_text">Lees meer</p>
            </div>
            <p class="nieuws_titel">De bloembollen voor 2020 worden weer geplant</p>
            <p class="nieuws_datum">7 OKT 2019</p>
            <div class="nieuwstag">
                <p class="nieuwstag_text">>Nieuws</p>
            </div>
            <div class="foto_nieuws4"></div>
        </div>
        <p class="nieuws">Nieuws</p>
    </div>

    <div class="deel5">
        <a class="deel5_binnenkant" href="https://www.youtube.com/watch?v=oHg5SJYRHA0">
            <img class="pijl_deel5" src="~/images/arrow-right.svg" alt="Arrow-Right" />
            <p class="deel5_text">Hier moet nog tekst in</p>
            <div class="deel5_plaatje"></div>
        </a>
    </div>

<div class="insta6">
    <p class="insta_titel">Instagram #VisitKeukenhof</p>
    <a class="insta_button" href="https://www.instagram.com/visitkeukenhof/?hl=en">
        <img class="insta_logo" src="~/images/instagram.svg" alt="Instagram-Logo" />
        <p class="insta_volg">Volg ons</p>
    </a>
    <div class="posts">
        <img class="logo_post1" src="~/images/instagram.svg" alt="Instagram-Logo" />
        <img class="logo_post2" src="~/images/instagram.svg" alt="Instagram-Logo" />
        <img class="logo_post3" src="~/images/instagram.svg" alt="Instagram-Logo" />
        <img class="logo_post4" src="~/images/instagram.svg" alt="Instagram-Logo" />
        <div class="insta_post1"></div>
        <div class="insta_post2"></div>
        <div class="insta_post3"></div>
        <div class="insta_post4"></div>
    </div>
</div>