
@{
    ViewData["Title"] = "Bereikbaarheid";
    Layout = "~/Views/Shared/_Header.cshtml";
}

<head>
    <link href="~/css/Bereikbaarheid_css.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <img src="~/images/Bereikbaarheid.jpg" alt="Bereikbaarheid_image" class="image" />

    <div class="top_info">
        <h1 class="ber_title">
            Bereikbaarheid
        </h1>

        <div class="ber_left">
            <p class="open_text_left">Voorkom drukte voor het parkeren met de auto en geniet van het gemak wanneer u kiest voor de bus!</p>
        </div>
        <div class="ber_right">
            <p class="open_text_right">Tijdens de dagen dat Keukenhof geopend is, rijden er extra bussen van Arriva vanaf verschillende treinstations en steden naar Keukenhof! </p>
        </div>
    </div>

    <div class=""

    <div class="ov">
        <h1 class="ov_title">
            Openbaar vervoer
        </h1>
    </div>


</body>



