@{
    Layout = "~/Views/Shared/_Header.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/Content_css.css" />
</head>

<div class="bovenaan">
    <img class="content_plaatje" src="~/images/190407LLT5844.jpg" alt="Content_plaatje"/>
</div>

