@{
    Layout = "~/Views/Shared/_Header.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/Content_css.css" />
</head>
<body>
    <div class="bovenaan">
        <img class="content_plaatje" src="~/images/190407LLT5844.jpg" alt="Content_plaatje" />
    </div>

    <div class="toegankelijkheid_deel">
        <p class="titel">Toegankelijkheid</p>
        <p class="toegankelijkheid_text">Ons park is goed toegankelijk voor rolstoelen en (eigen) scootmobielen en is ruim voorzien van aangepaste toiletten. Voor mensen met een beperking, hebben wij wel rolstoelen, maar geen scootmobielen beschikbaar.</p>
    </div>

    <div class="rolstoel_deel">
        <div class="rolstoel_buttonvak">
            <div class="rolstoel_button"></div>
            <p class="rolstoel_buttontext">Rolstoel reserveren</p>
        </div>
        <p class="rolstoel_textonderbutton">Als er in de reservering geen optie "rolstoel" verschijnt, zijn ze helaas niet beshickbaar voor die dag.</p>
        <p class="titel">Rolstoelen</p>
        <p class="text1">Het gebruik van een rolstoel - voor mensen met een beperking - is gratis. Wel vragen wij een borg van €20,-, die contant voldaan moet worden en u weer terugkrijgt bij inlevering van de rolstoel.</p>
        <p class="text2">U kunt een rolstoel tot 17:00 uur, de dag vóór bezoek reserveren. We hebben een beperkt aantal rolstoelen beschikbaar, dus adviseren zo spoedig mogelijk te reserveren.</p>
    </div>

    <div class="toegestaan_deel">
        <p class="titel">Toegestane voortbewegingsmiddelen</p>
        <p class="toe_text1">Alleen rolstoelen, scootmobielen, rollators, kinderwagens of kinderbuggys zijn toegestaan in het park. Andere voortbewegingsmiddelen zijn niet toegestaan.</p>
        <p class="toe_text2">U kunt alleen een rolstoel bij ons reserveren, alle andere voortbewegingsmiddelen dient u zelf mee te nemen.</p>
    </div>
</body>