@{
    Layout = "~/Views/Shared/_Header.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/Evenementen_css.css" />
</head>

<div class="evenementen_bovenkant">
    <div class="evenementen_plaatje"></div>
    <p class="evenementen_titel">Evenementen</p>
</div>

<div class="evenementen_pagina">
    <div class="paginering">
        <a href="#">1</a>
        <a href="#" class="active">2</a>
        <a href="#">3</a>
    </div>
    <div class="artikel_deel">
        <div class="evenementen_rij1">
            <div class="artikel1">
                <div class="evenement_tag">
                    <p class="tag_text">Evenement</p>
                </div>
                <div class="leesmeer_buttonplek">
                    <div class="leesmeer_button"></div>
                    <p class="button_text">Lees meer</p>
                </div>
                <img class="evenementen" src="~/images/OpaenOma.png" alt="Opa en Oma" />
                <p class="artikel_datum">17 APR - 19 APR 2020</p>
                <p class="artikel_kopje">Fleur uw tuin op</p>
                <p class="artikel_text">Rob Verlinden laat handige tips en tricks zien</p>
            </div>
            <div class="artikel2">
                <div class="evenement_tag">
                    <p class="tag_text">Evenement</p>
                </div>
                <div class="leesmeer_buttonplek">
                    <div class="leesmeer_button"></div>
                    <p class="button_text">Lees meer</p>
                </div>
                <img class="evenementen" src="~/images/Bloemencorso.png" alt="Bloemencorso" />
                <p class="artikel_datum">25 APR 2020</p>
                <p class="artikel_kopje">Bloemenparade</p>
                <p class="artikel_text">Als de Bloemenparade plaatsvindt, is ’t erg druk</p>
            </div>
            <div class="artikel3">
                <div class="show_tag">
                    <p class="tag_text">Show</p>
                </div>
                <div class="leesmeer_buttonplek">
                    <div class="leesmeer_button"></div>
                    <p class="button_text">Lees meer</p>
                </div>
                <img class="evenementen" src="~/images/OudeAuto.png" alt="Oude Auto" />
                <p class="artikel_datum">21 MAA - 10 MEI 2020</p>
                <p class="artikel_kopje">Bloemen festival</p>
                <p class="artikel_text">Verschillende soorten bloemen in festivalsferen</p>
            </div>
            <div class="artikel4">
                <div class="kunst_tag">
                    <p class="tag_text">Kunst</p>
                </div>
                <div class="leesmeer_buttonplek">
                    <div class="leesmeer_button"></div>
                    <p class="button_text">Lees meer</p>
                </div>
                <img class="evenementen" src="~/images/Bloemenkunst.png" alt="Bloemenkunst" />
                <p class="artikel_datum">21 MAA - 10 MEI 2020</p>
                <p class="artikel_kopje">Herman Brood</p>
                <p class="artikel_text">De kunstcollectie van Herman Brood</p>
            </div>
          
        </div>
        <div class="evenementen_rij2">
            <div class="artikel1">
                <div class="evenement_tag">
                    <p class="tag_text">Evenement</p>
                </div>
                <div class="leesmeer_buttonplek">
                    <div class="leesmeer_button"></div>
                    <p class="button_text">Lees meer</p>
                </div>
                <img class="evenementen" src="~/images/Fiets.png" alt="Fiets" />
                <p class="artikel_datum">24 APR - 26 APR 2020</p>
                <p class="artikel_kopje">Oud Hollandse dagen</p>
                <p class="artikel_text">Terug in de tijd: Keukenhof bestaat 70 jaar</p>
            </div>
            <div class="artikel2">
                <div class="show_tag">
                    <p class="tag_text">Show<p>
                </div>
                <div class="leesmeer_buttonplek">
                    <div class="leesmeer_button"></div>
                    <p class="button_text">Lees meer</p>
                </div>
                <img class="evenementen" src="~/images/Bloemenletters.png" alt="Bloemenletters" />
                <p class="artikel_datum">21 MAA - 10 MEI 2020</p>
                <p class="artikel_kopje">Orchideeën</p>
                <p class="artikel_text">Verschillende soorten orchideeën</p>
            </div>
            <div class="artikel3">
                <div class="evenement_tag">
                    <p class="tag_text">Evenement</p>
                </div>
                <div class="leesmeer_buttonplek">
                    <div class="leesmeer_button"></div>
                    <p class="button_text">Lees meer</p>
                </div>
                <img class="evenementen" src="~/images/AfrikaanseDans.png" alt="Afrikaanse dans" />
                <p class="artikel_datum">08 MEI - 10 MEI 2020</p>
                <p class="artikel_kopje">Internationale dagen</p>
                <p class="artikel_text">Verschillende culturen en bijhorende tradities</p>
            </div>
            <div class="artikel4">
                <div class="evenement_tag">
                    <p class="tag_text">Evenement</p>
                </div>
                <div class="leesmeer_buttonplek">
                    <div class="leesmeer_button"></div>
                    <p class="button_text">Lees meer</p>
                </div>
                <img class="evenementen" src="~/images/Fanfare.png" alt="Fanfare" />
                <p class="artikel_datum">21 MAA - 10 MEI 2020</p>
                <p class="artikel_kopje">Fanfare</p>
                <p class="artikel_text">Lekker genieten van de prachtige fanfare muziek</p>
            </div>
        </div>
    </div>
        </div>

</div>