@{
    Layout = "~/Views/Shared/_Header.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/Evenementen_css.css" />
</head>

<div class="evenementen_pagina">
    <div class="evenementen_pagina"></div>
    <p class="evenementen_titel">Evenementen</p>
</div>