@{
    Layout = "~/Views/Shared/_Header.cshtml";
}
<head>
    <link href="~/css/HetPark.css" rel="stylesheet" type="text/css" />
</head>


<div class="bovenstePlaatje">
    <img src="~/images/2chappos.png" alt="wandelen naast bloemen" class="bovenstePlaatje">
</div>

<div class="eersteTekst">
    <h1 class="parkTitel">Het fleurigste dagje uit</h1>
    <div class="tekst1">
        <p class="tekstp">Dit voorjaar staan meer dan 7 miljoen bloembollen in bloei met wel 800 verschillende soorten tulpen.</p>
    </div>
    <div class="tekst1">
        <p class="tekstp">In alle rust genieten van Keukenhof? Voor 10:30 uur en na 16:00 uur is het minder druk.</p>
    </div>
    <div class="knop1">
        <a href="https://www.youtube.com/watch?v=3K48yI5gqCg" class="knopGeschiedenis">Geschiedenis</a>
    </div>
</div>

<div class="keuzeScrollMenu">
    <a href="#1" class="knopMenu1">Wat is er te doen</a>
    <a href="#2" class="knopMenu2">Plattegrond</a>
    <a href="#3" class="knopMenu3">Evenementen</a>
    <a href="#4" class="knopMenu4">Tulpomania</a>
    <a href="#5" class="knopMenu5">Bloemenshows</a>
</div>

<div id="1" class="eersteKeuze">
    <h1 class="parkTitel">Wat is er te doen bij Keukenhof?</h1>

    <div class="k1tekst">
        <p class="tekstp">Naast de ruim 32ha aan bloemen kunt u genieten van verrassende inspiratietuinen. Voor kinderen is er de gratis speurtocht, een kinderboerderij, doolhof en speeltuin.</p>
    </div>
    <div class="k1link">
        <a href="https://www.youtube.com/watch?v=3K48yI5gqCg" class="evenementenLink">Bekijk alle</a>
        <img src="~/images/oranjePijl.png" alt="pijl" class="pijl">
    </div>

    <div class="evenementen">
        <div class="e1">
            <img src="~/images/190422LLT7020.jpg" alt="boot" class="boot">
            <p class="soort1">Attractie</p>
            <p class="datum">21 Maa - 10 mei 2020</p>
            <h2 class="eTitel1">Fluisterboot</h2>
            <p class="beschrijving1">Boottocht door de bloembollenvelden</p>
            <div class="eknopDiv">
                <a href="https://www.youtube.com/watch?v=3K48yI5gqCg" class="eknop">Lees meer</a>
            </div>
        </div>

        <div class="e2">
            <img src="~/images/kindjes.png" alt="kinderen" class="kind">
            <p class="soort2">Kinderen</p>
            <p class="datum">21 Maa - 10 mei 2020</p>
            <h2 class="eTitel1">Speurtocht</h2>
            <p class="beschrijving1">Verzamel alle aanwijzingen voor de speurtocht</p>
            <div class="eknopDiv">
                <a href="https://www.youtube.com/watch?v=3K48yI5gqCg" class="eknop">Lees meer</a>
            </div>
        </div>

        <div class="e3">
            <img src="~/images/kas.png" alt="kas" class="kas">
            <p class="soort3">Faciliteit</p>
            <p class="datum">21 Maa - 10 mei 2020</p>
            <h2 class="eTitel1">Picknicken</h2>
            <p class="beschrijving1">Neem uw picnickmand mee en zoek een veld uit</p>
            <div class="eknopDiv">
                <a href="https://www.youtube.com/watch?v=3K48yI5gqCg" class="eknop">Lees meer</a>
            </div>
        </div>

        <div class="e4">
            <img src="~/images/tour.png" alt="tour" class="tour">
            <p class="soort4">Attractie</p>
            <p class="datum">21 Maa - 10 mei 2020</p>
            <h2 class="eTitel1">Rondleiding</h2>
            <p class="beschrijving1">Ontdek de highlights van Keukenhof met gids</p>
            <div class="eknopDiv">
                <a href="https://www.youtube.com/watch?v=3K48yI5gqCg" class="eknop">Lees meer</a>
            </div>
        </div>

    </div>

</div>

<div class="tweedekeuze" id="3">
    <img src="~/images/plattegrond.png" alt="plattegrond" class="plattegrondfoto">
    <a href="~/images/plattegrond.png" download="" class="aa">
        <div class="divKnop">
            <p class="textd">Download de plattegrond van het park</p>
            <img src="~/images/arrow-right.svg" alt="pijltje" class="pijltje">
        </div>    
    </a>
</div>

<div id="3" class="derdekeuze">
    <h1 class="parkTitel">Evenementen</h1>

    <div class="k1tekst">
        <p class="tekstp">In Keukenhof kunt u genieten van geweldige evenementen. Elke weekend zijn er verschillende evenementen, dus zoek de juiste datum voor uw bezoek uit!</p>
    </div>
    <div class="k1link">
        <a href="https://www.youtube.com/watch?v=3K48yI5gqCg" class="evenementenLink">Bekijk alle</a>
        <img src="~/images/oranjePijl.png" alt="pijl" class="pijl">
    </div>

    <div class="evenementen2">
        <div class="e12">
            <img src="~/images/robVerlinden.png" alt="Rob Verlinden" class="rv">
            <p class="soort12">Evenement</p>
            <p class="datum">17 apr - 19 apr 2020</p>
            <h2 class="eTitel1">Fleur uw tuin op</h2>
            <p class="beschrijving1">Rob Verlinden laat handige tips en tricks zien</p>
            <div class="eknopDiv">
                <a href="https://www.youtube.com/watch?v=3K48yI5gqCg" class="eknop">Lees meer</a>
            </div>
        </div>

        <div class="e22">
            <img src="~/images/parade.png" alt="parade" class="parade">
            <p class="soort2">Evenement</p>
            <p class="datum">25 apr 2020</p>
            <h2 class="eTitel1">Bloemenparade</h2>
            <p class="beschrijving1">Als de Bloemenparade plaatsvindt, is ’t erg druk</p>
            <div class="eknopDiv">
                <a href="https://www.youtube.com/watch?v=3K48yI5gqCg" class="eknop">Lees meer</a>
            </div>
        </div>

        <div class="e32">
            <img src="~/images/fiets.png" alt="fiets" class="fiets">
            <p class="soort3">Evenement</p>
            <p class="datum">24 apr - 26 apr 2020</p>
            <h2 class="eTitel1">Oud Hollandse dagen</h2>
            <p class="beschrijving1">Terug in de tijd: Keukenhof bestaat 70 jaar</p>
            <div class="eknopDiv">
                <a href="https://www.youtube.com/watch?v=3K48yI5gqCg" class="eknop">Lees meer</a>
            </div>
        </div>

        <div class="e4">
            <img src="~/images/onscherpetulpen.png" alt="fanfare" class="fanfare">
            <p class="soort4">Evenement</p>
            <p class="datum">08 mei - 10 mei 2020</p>
            <h2 class="eTitel1">Fanfare</h2>
            <p class="beschrijving1">Lekker genieten van de prachtige fanfare muziek</p>
            <div class="eknopDiv">
                <a href="https://www.youtube.com/watch?v=3K48yI5gqCg" class="eknop">Lees meer</a>
            </div>
        </div>

    </div>

</div>

<div class="vierdekeuze" id="4">
    <img src="~/images/tuinierboi.png" alt="tuinier" class="tuinier">
    <a href="~/images/tuinierboi.png" download="" class="aa2">
        <div class="divKnop">
            <p class="textd">Tulpomania</p>
            <img src="~/images/arrow-right.svg" alt="pijltje" class="pijltje">
        </div>
    </a>
</div>

<div id="5" class="vijfdekeuze">
    <h1 class="parkTitel">Bloemenshows</h1>

    <div class="k1tekst">
        <p class="tekstp">In Keukenhof kunt u genieten van spectaculaire bloemenshows en unieke kunstwerken. Vergeet vooral de Tulpomania tentoonstelling in het Juliana Paviljoen niet.</p>
    </div>
    <div class="k1link">
        <a href="https://www.youtube.com/watch?v=3K48yI5gqCg" class="evenementenLink">Bekijk alle</a>
        <img src="~/images/oranjePijl.png" alt="pijl" class="pijl">
    </div>

    <div class="evenementen2">
        <div class="e13">
            <img src="~/images/robVerlinden.png" alt="Rob Verlinden" class="rv">
            <p class="soort12">Show</p>
            <p class="datum">21 Maa - 10 mei 2020</p>
            <h2 class="eTitel1">Bloemen festival</h2>
            <p class="beschrijving1">Rob Verlinden laat handige tips en tricks zien</p>
            <div class="eknopDiv">
                <a href="https://www.youtube.com/watch?v=3K48yI5gqCg" class="eknop">Lees meer</a>
            </div>
        </div>

        <div class="e23">
            <img src="~/images/parade.png" alt="parade" class="parade">
            <p class="soort2">Kunst</p>
            <p class="datum">21 Maa - 10 mei 2020</p>
            <h2 class="eTitel1">Herman brood</h2>
            <p class="beschrijving1">Als de Bloemenparade plaatsvindt, is ’t erg druk</p>
            <div class="eknopDiv">
                <a href="https://www.youtube.com/watch?v=3K48yI5gqCg" class="eknop">Lees meer</a>
            </div>
        </div>

        <div class="e33">
            <img src="~/images/fiets.png" alt="fiets" class="fiets">
            <p class="soort3">Show</p>
            <p class="datum">21 Maa - 10 mei 2020</p>
            <h2 class="eTitel1">Orchideeën</h2>
            <p class="beschrijving1">Terug in de tijd: Keukenhof bestaat 70 jaar</p>
            <div class="eknopDiv">
                <a href="https://www.youtube.com/watch?v=3K48yI5gqCg" class="eknop">Lees meer</a>
            </div>
        </div>

        <div class="e43">
            <img src="~/images/onscherpetulpen.png" alt="fanfare" class="fanfare">
            <p class="soort4">Show</p>
            <p class="datum">21 Maa - 10 mei 2020</p>
            <h2 class="eTitel1">Happy hippy</h2>
            <p class="beschrijving1">Lekker genieten van de prachtige fanfare muziek</p>
            <div class="eknopDiv">
                <a href="https://www.youtube.com/watch?v=3K48yI5gqCg" class="eknop">Lees meer</a>
            </div>
        </div>

    </div>

</div>
