@{
    Layout = "~/Views/Shared/_Header.cshtml";
}
<head>
    <link href="~/css/praktischeInformatie.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <img src="~/images/BloemenEnToeristen.png" alt="Bloemen met toeristen" style=" width:100%; height:auto;">

    <h1 class="piTitel">Praktische Informatie</h1>

    <table>
        <tr>
            <td>
                <p class="PLinks">In 2020 is Keukenhof open van 21 maart tot en met 10 mei tussen 9:00-17:00 uur.</p>
            </td>
            <td>
                <p class="PRechts">In alle rust genieten van Keukenhof? Voor 10:30 uur en na 16:00 uur is het minder druk.</p>
            </td>
        </tr>
    </table>

</body>
