
@{
    ViewData["Title"] = "Privacy_statement";
    Layout = "~/Views/Shared/_Header.cshtml";
}
<head>
    <link href="~/css/Privacy_css.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <div class="privacy_page">
        <h1 class="privacy_title">Privacy statement</h1>

        <p class="privacy_text">
            Gepubliceerd op: 06-08-2018<br />
            Bijgewerkt op: 06-08-2018<br />
            <br />
            K.v.K Leiden 62341138<br />
            <br />
            Keukenhof B.V. (Keukenhof) gaat zorgvuldig om met privacy en (persoons)gegevens van haar (online) bezoekers. In dit privacy statement leest u hoe Keukenhof met uw persoonsgegevens omgaat, welke persoonsgegevens Keukenhof verzamelt en gebruikt en met welk doel. Wij raden u aan deze verklaring zorgvuldig te lezen.<br />
            <br />
            Keukenhof verwerkt in beginsel alleen persoonsgegevens doordat u gebruik maakt van onze diensten en/of omdat u deze zelf aan ons verstrekt. De informatie die wij vragen, is niet zonder reden. Wij hebben deze informatie nodig om onze dienstverlening te kunnen verbeteren. De persoonlijke informatie die u verstrekt, behandelen wij vertrouwelijk en conform de richtlijn van de toepasselijke wet- en regelgeving , waaronder begrepen de Algemene Verordening Gegevensbescherming (AVG). In dit privacy statement informeren wij u over de manier waarop wij persoonsgegevens verwerken, voor welke doeleinden wij persoonsgegevens verwerken, hoe u uw privacyrechten kunt uitoefenen en geven wij informatie over hoe wij omgaan met uw gegevens.<br />
            <br />
            Welke persoonsgegevens verzamelt Keukenhof?<br />
            <br />
            Nieuwsbrief<br />
            Bij aanmelding voor onze nieuwsbrief vragen wij u om uw e-mailadres. Dit hebben wij nodig om u per e-mail op de hoogte te brengen van nieuws over Keukenhof. U kunt er zelf voor kiezen om uw profiel aan te vullen met een aantal persoonsgegevens. Zo kunnen wij de nieuwsbrief zo relevant mogelijk voor u maken. Om u een gepersonaliseerde nieuwsbrief te sturen, hebben wij uw naam nodig. Uw gegevens worden door ons verwerkt in een platform dat door een externe partij wordt beheerd. Al onze nieuwsbrieven bevatten een link waarmee u zich kunt afmelden. U kunt zich dus op ieder moment weer uitschrijven voor de desbetreffende nieuwsbrief. Uw gegevens worden dan direct verwijderd uit het platform.<br />
            <br />
            Online entreekaarten<br />
            Koopt u online entreekaarten en/of andere producten van Keukenhof, dan vragen wij om uw naam en e-mailadres. Deze informatie hebben wij nodig om u de e-ticket(s) van uw aankopen toe te kunnen sturen. Bij een bezoek aan Keukenhof scannen wij uw ticket en wordt de datum van uw bezoek geregistreerd. Deze data verzamelen wij voor statistische doeleinden.<br />
            De kaartverkoop wordt verzorgd door Ticketcounter B.V. Uw persoonsgegevens worden na maximaal 26 maanden na aankoop verwijderd.<br />
            <br />
            Contactformulieren<br />
            Vult u een reserverings- of contactformulier op onze website in, dan vragen wij om een naam, e-mailadres, telefoonnummer en woonplaats van een contactpersoon. Deze gegevens gebruiken wij alleen om de aanvraag in behandeling te nemen. Wij bewaren uw gegevens zolang als nodig is om uw aanvraag te behandelen en/of de samenwerking duurt.<br />
            <br />
            <br />
            Sollicitatie<br />
            Wanneer u reageert op een vacature bij Keukenhof, verzamelen wij uw naam, e-mailadres, alle persoonsgegevens die u opgeeft in uw CV, motivatiebrief en andere meegestuurde bestanden. Deze gegevens worden uitsluitend gebruikt voor de sollicitatieprocedure. Na afloop van de wervings- en selectieperiode worden uw gegevens maximaal 4 weken bewaard.<br />
            <br />
            <br />
            Grondslagen<br />
            De verwerking van persoonsgegevens door Keukenhof zal alleen plaatsvinden als u toestemming heeft gegegeven voor de verwerking van uw persoonsgegevens en/of wanneer de verwerking noodzakelijk is om uw bestelling af te leveren en/of wanneer Keukenhof een gerechtvaardigd belang hiertoe heeft en zonder uw privacy daarmee te schenden. Indien u toestemming geeft voor de verwerking van uw persoonsgegevens bent u te allen tijde gerechtigd de verleende toestemming weer in te trekken.<br />
            <br />
            Met wie deelt Keukenhof uw persoonsgegevens?<br />
            Keukenhof verkoopt uw persoonsgegevens niet aan derden. Ook delen wij uw gegevens alleen als dit nodig is voor de uitvoering van onze overeenkomst met u. Met bedrijven die uw gegevens verwerken, hebben wij een verwerkersovereenkomst afgesloten. Zo zorgen wij ervoor dat u gegevens veilig en vertrouwelijk worden verwerkt en adequaat zijn beveiligd.<br />
            <br />
            <br />
            Hoe kunt u uw privacyrechten uitoefenen?<br />
            U heeft de mogelijkheid om uw persoonlijke gegevens in te zien, te wijzigen of te laten verwijderen. Wil u dit, stuur dan een e-mail naar privacy@Keukenhof nl. Is het door ons verstrekte overzicht van uw persoonsgegevens niet juist? Stuur ons dan een e-mail met de vraag of wij uw gegevens willen wijzigen.<br />
            <br />
            <br />
            Heeft u vragen of een klacht?<br />
            Keukenhof hecht belang aan de bescherming van uw gegevens en heeft passende technische en organisatorische maatregelen getroffen om misbruik, verlies, onbevoegde toegang, ongewenste openbaarmaking en ongeoorloofde wijzigingen tegen te gaan. Uw gegevens worden nooit langer bewaard dan noodzakelijk. Mocht u vragen hebben, neem dan contact met ons op via privacy@keueknhof.nl. U heeft ook de mogelijkheid om een klacht in te dienen bij de Autoriteit Persoonsgegevens.(autoriteitpersoonsgegevens.nl)<br />
            <br />
            COOKIES<br />
            <br />
            <br />
            Wat doet Keukenhof met cookies en klikgedrag?<br />
            <br />
            <br />
            Klikgedrag en bezoekgegevens<br />
            Keukenhof gebruikt Google Analytics. Daarmee analyseren wij de manier waarop bezoekers onze website gebruiken. Zo kunnen wij bijvoorbeeld de gebruiksvriendelijkheid van onze website verbeteren. Dit doen wij uiteraard op een privacy-vriendelijke manier. Wanneer u onze website bezoekt, worden u gegevens geanonimiseerd. Wij kunnen u dus niet herkennen als persoon.<br />
            <br />
            <br />
            Cookies<br />
            Op onze website gebruiken wij ook cookies. Een cookie is een klein tekstbestand dat tijdens uw bezoek aan een website op bijvoorbeeld uw computer, tablet of smartphone wordt geplaatst. In dit tekstbestand wordt informatie opgeslagen. Deze informatie kan bij een later bezoek weer worden herkend door deze website. Wij gebruiken cookies om uw instellingen en voorkeuren te onthouden, maar ook zodat u onze website gemakkelijker kunt gebruiken. Ook plaatsen wij cookies om te voorkomen dat u op onze website te vaak dezelfde informatie ziet. Deze cookies zijn niet gekoppeld aan een profiel over u.<br />
            <br />
            <br />
            Wij gebruiken verschillende soorten cookies:<br />
            <br />
            <br />
            • Functionele cookies<br />
            Zorgen voor een goede (be)werking van onze website.<br />
            <br />
            <br />
            • Analytische cookies<br />
            Wij gebruiken analytische cookies alleen om onze website te verbeteren. Hiermee houden wij bij hoeveel mensen onze website bezoeken, wordt gemeten welke webpagina’s goed worden bezocht en hoe lang mensen onze website bekijken. Deze gegevens zijn volledig anoniem.<br />
            <br />
            <br />
            • Social media cookies<br />
            Ben u ingelogd op Facebook en/of Twitter? Dan worden er social media cookies op uw apparaat geplaatst. Dit gebeurt alleen als u hiervoor expliciet toestemming geeft. De cookies van de betreffende social media-platforms (zoals Facebook en Twitter) zorgen ervoor dat alle social media-functies op onze website goed werken. Lees de privacy statements van Facebook en Twitter om te zien wat zij doen met de persoonsgegevens die zij via deze cookies verwerken.<br />
            <br />
            <br />
            Cookies verwijderen of blokkeren<br />
            <br />
            <br />
            Cookies blijven op uw apparaat staan totdat u ze zelf verwijdert of de looptijd ervan verstreken is. Via uw browser kunt u cookies uitzetten. Let wel op: dit kan ervoor zorgen dat onze website minder goed of zelfs helemaal niet werkt.<br />
            Wilt u niet dat er cookies op uw apparaat worden bewaard? Dan kunt u deze handmatig verwijderen. Wilt u helemaal niet dat onze website cookies plaatst, dan kunt u deze automatisch blokkeren via uw internetbrowser.<br />
      
        </p>

    </div>
</body>

