
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Header.cshtml";
}
<head>
    <link href="~/css/zoekresultaten.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <h2>@ViewBag.test</h2>
</body>


