
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Header.cshtml";
}
<head>
    <link href="~/css/zoekresultaten.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div class="pagina">
        <form asp-controller="Home" asp-action="Zoekresultaten">
            <input type="text" name="query" value="@ViewBag.query" class="zoekbalk"/>
            <input type="submit" name="submit" class="zoek" value="Zoeken"/>
        </form>
    </div>
</body>


