body{
    font-family: sans-serif;
}

.WitteContext{
    position: relative;
}

.contact {
    padding-left: 17.5%;
    font-size: 48px;
}

.Titel {
    color: #36454E;
    font-size: 20px;
    float: left;
    width: 80%;
    padding-top: 2%;
    padding-left: 5%;
}

.GroenTitel{
    padding-top: 2%;
    padding-bottom: 2%;
}

.Links {
    padding-left: 32%;
    font-size: 18px;
    color: black;
}

.Rechts {
    font-size:18px;
    width: 100%;
    padding-left: 50%;
    color: black;
}

.Lichtgroen {
    position: relative;
    background-color: #E1EBE9;
    padding-bottom: 20%;
    padding-left: 5%;
}

.OranjeTitel {
    color: black;
}

.Kplaatje1 {
    width: 100%;
    height: 82%;
}

.Kplaatje2 {
    width: 100%;
    height: 80%;
}

.Kplaatje3 {
    width: 100%;
    height: 80%;
}

.Kplaatje4 {
    width: 100%;
    height: 80%;
}

.Groen1 {
    background-color: white;
    width: 15%;
    margin-top: -1%;
    position: absolute;
    top: 25%;
    left: 5%;
    height: 66%;
}

.Groen2 {
    background-color: white;
    width: 15%;
    margin-top: -1%;
    position: absolute;
    top: 25%;
    left: 30%;
}

.Groen3 {
    background-color: white;
    width: 15%;
    margin-top: -1%;
    position: absolute;
    top: 25%;
    height: 67%;
    left: 55%;
}

.Groen4 {
    background-color: white;
    width: 15%;
    margin-top: -1%;
    position: absolute;
    height: 67%;
    top: 25%;
    left: 80%;
}

.vakjes:hover{
    text-decoration: none;
}

.pijl{
    position: absolute;
    top: 85%;
}

.PI {
    position: relative;
    margin-top: -2%;
    background-color: #FBDFD3;
}

.TitelP {
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: sans-serif;
    font-size: 32px;
}

.row {
    top: 6%;
    width: 100%;
}

.columnPlaatje{
    width: 44%;
    padding-right: 2%;
    float: left
}

.columnTekst{
    background-color: white;
    float: left;
    margin-bottom: 5%;
    padding-top:0.5%;
    padding-right: 10%;
    padding-bottom: 2%;
    border-radius: 10px;
}

.oranjeTitel{
    padding-left: 6%;
    font-size: 18px;
}

.Otekst {
    top: 10%;
    padding-left: 6%;
    color: black;
    font-size: 14px;
}

.TelefoonMevrouw{
    width: 85%;
    padding-left: 10%;
}

.infoTekst{
    margin-left: 2%;
    width: 48%;
    float: left;
}