.contact {
    padding-left: 17.5%;
    font-family: sans-serif;
    font-size: 48px;
}
.WitteContext{
    padding-top: 34.3%;
}

.Titel {
    position: absolute;
    left: 6.45%;
    right: 39.92%;
    top: 85.00%;
    bottom: 5.81%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #36454E;
}

.Links {
    padding-left: 32%;
    font-size: 18px;
    color: black;
    font-family: sans-serif;
}

.Rechts {
    font-size:18px;
    width: 100%;
    padding-left: 50%;
    color: black;
    font-family: sans-serif;
}

.Lichtgroen {
    position: absolute;
    width: 100%;
    height: 65%;
    top: 100%;
    background-color: #E1EBE9;
}

.GroenTitel {
    color: black;
    padding-left: 10%;
}

.OranjeTitel {
    color: black;
}

.CPlaatjeTitel {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.keuze1 {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/bloemenveld.png');
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 20%;
}

.keuze2 {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/UilMevrouw.png');
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 20%;
}
.keuze3 {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/ManBijBloem.png');
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 20%;
}

.keuze4 {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/Bloemenveld2.png');
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 20%;
}

.Groen1 {
    position: absolute;
    width: 17.3%;
    height: 69%;
    left: 9.5%;
    top: 17.5%;
    background-color: white;
}

.Groen2 {
    position: absolute;
    width: 17.3%;
    height: 69%;
    left: 30.5%;
    top: 17.5%;
    background-color: white;
}

.Groen3 {
    position: absolute;
    width: 17.3%;
    height: 69%;
    left: 51.5%;
    top: 17.5%;
    background-color: white;
}

.Groen4 {
    position: absolute;
    width: 17.3%;
    height: 69%;
    left: 72.5%;
    top: 17.5%;
    background-color: white;
}


.EerstePijl {
    position: absolute;
    margin-left: 85.1%;
    margin-right: -55.53%;
    margin-top: 108%;
    margin-bottom: -33.84%;
}

.TweedePijl {
    position: absolute;
    left: 85.1%;
    right: -55.53%;
    top: 85.00%;
    bottom: -33.84%;
}

.DerdePijl {
    position: absolute;
    left: 85.1%;
    right: -55.53%;
    top: 85.00%;
    bottom: -33.84%;
}

.VierdePijl {
    position: absolute;
    left: 85.1%;
    right: -55.53%;
    top: 85.00%;
    bottom: -33.84%;
}

.Groen1:hover {
    background-color: #00694C;
}

.Groen2:hover {
    background-color: #00694C;
}

.Groen3:hover {
    background-color: #00694C;
}

.Groen4:hover {
    background-color: #00694C;
}

.vakjes:hover p {
    color: white;
}

.PInfo {
    position: absolute;
    width: 100%;
    top:163.5%;
    background-color: #FBDFD3;
    padding-left: 10%;
    padding-right: 10%;
}

.OranjeTitel {
    color: black;
    margin-top: 2%;
    margin-bottom: 2%;
}

.row {
    top: 6%;
    width: 100%;
}

.columnPlaatje{
    width: 44%;
    padding-right: 2%;
}

.columnTekst{
    background-color: white;
    float: left;
    margin-bottom: 10%;
    padding-top:0.5%;
    padding-right: 10%;
    padding-bottom: 5%;
    border-radius: 10px;
}

.oranjeTitel{
    padding-left: 6%;
    font-family: sans-serif;
    font-size: 18px;
}

.Otekst {
    top: 10%;
    left: 10%;
    color: black;
    font-size: 14px;
}

.TelefoonMevrouw{
    width: 100%;
}

.infoTekst{
    margin-left: 2%;
    width: 48%;
    float: left;
}