#evenementen_bovenkant {
    position: absolute;
    width: 100%;
    left: 0%;
    top:10%;
    height: 60%;
    background: #FBDFD3;
}

#pagina {
    position: absolute;
    top: 70%;
    width: 100%;
    left: 0%;
    height: 130%;
    background: #FBDFD3;
}


.artikel_deel {
    position: absolute;
    width: 100%;
    left: 0%;
    height: 90%;
    top: 0%;
}

.evenementen_rij1 {
    position: absolute;
    width: 95%;
    left: 2.5%;
    height: 47.5%;
    top: 0%;
}

.evenementen_rij2 {
    position: absolute;
    width: 95%;
    left: 2.5%;
    height: 47.5%;
    top: 52.5%;
}

.evenementen_plaatje {
    position:absolute;
    width: 100%;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/190422llt8032 1.png');
}

.evenementen_titel {
    position:absolute;
    top:82%;
    left:2%;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 43px;
    color: #1F2325;
    z-index:1;
}
.evenementen{
    width:100%;
    height:50%;
}

.artikel_datum {
    position: absolute;
    left: 4%;
    top: 52%;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #808E96;
}

.artikel_kopje {
    position: absolute;
    width:80%;
    left: 4%;
    top:58%;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #36454E;
}

.artikel_text {
    position: absolute;
    width: 80%;
    top:66%;
    left: 4%;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    display: flex;
    align-items: flex-end;
    color: #808E96;
}

.leesmeer_buttonplek {
    position: absolute;
    width: 37%;
    height: 10%;
    left: 4%;
    top:84%;
}

.leesmeer_button {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #FFFFFF;
    border: 1.5px solid #EA6025;
    box-sizing: border-box;
    border-radius: 27px;
}

.button_text {
    position: absolute;
    left: 20%;
    top:20%;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #36454E;
}

.artikel1 {
    position: absolute;
    width:22%;
    height:100%;
    left: 0%;
    top: 0%;
    background: #FFFFFF;
    border-radius: 4px;
}

.artikel2 {
    position: absolute;
    width: 22%;
    height: 100%;
    left: 26%;
    top: 0%;
    background: #FFFFFF;
    border-radius: 4px;
}

.artikel3 {
    position: absolute;
    width: 22%;
    height: 100%;
    left: 52%;
    top: 0%;
    background: #FFFFFF;
    border-radius: 4px;
}

.artikel4 {
    position: absolute;
    width: 22%;
    height: 100%;
    left: 78%;
    top: 0%;
    background: #FFFFFF;
    border-radius: 4px;
}
.evenement_tag {
    position: absolute;
    width:26%;
    height:7%;
    left: 4%;
    top: 4%;
    opacity: 0.9;
    background-color: white;
    z-index:1;
}

.tag_text {
    position: absolute;
    left: 7%;
    top: 5%;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #1F2325;
}

.kunst_tag {
    position: absolute;
    width: 15%;
    height: 7%;
    left: 4%;
    top: 4%;
    opacity: 0.9;
    background-color: white;
}


.show_tag {
    position: absolute;
    width: 14%;
    height: 7%;
    left: 4%;
    top: 4%;
    opacity: 0.9;
    background-color: white;
}

.paginering {
    position: absolute;
    width: 10%;
    height: 5.7%;
    left: 46%;
    top: 92%;

}



.btn {
    border: 1px solid #FBDFD3;
    box-sizing: border-box;
    float: left;
    outline: none;
    padding: 10px 16px;
    background-color: white;
    color:  #EA6025;
}

    .active, .btn:hover {
        background: #EA6025;
        color: white;
    }



