body {
}
.outerFooter {
    position: absolute;
    width: 100%;
    height: 269px;
    left: 0px;
    top: 3037px;
    /* White */
    background: #FFFFFF;
}
.innerFooter {
    position: absolute;
    height: 208px;
    left: 32px;
    top: 32px;
    right: 39px;
    width: 100%;
}
.logoFooter {
    position: absolute;
    left: 0%;
    width: 25%;
    /*top: 0%;*/
    height: auto;
    background: url(image.png);
    mix-blend-mode: darken;
}
.socialsFooter {
    position: absolute;
    left: 0px;
    top: 182px;
    bottom: 0px;
    width: 25%;
}

.fa {
    border-radius: 50px;
    padding: 40px;
    font-size: 30px;
    
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-instagram {
    background: #2B7F68;
    color: white;
}
.fa-youtube {
    background: #2B7F68;
    color: white;
}
.fa-facebook {
    background: #2B7F68;
    color: white;
}
.fa-twitter {
    background: #2B7F68;
    color: white;
}
.adresOpeningstijdenFooter {
    position: absolute;
    width: 25%;
    height: 100%;
    left: 25%;
}
.aot {
    position: absolute;
    width: 100%;
    height: 28px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #36454E;
    border-radius: 4px;
}
.aotxt {
    position: absolute;
    width: 245px;
    height: 56px;

    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #36454E;
}
.aot-adresTitel {
    top: 0px;
}
.aotxt-adresTekst {
    top: 36px;
}
.aot-openingstijdenTitel {
    top: 116px;
}
.aotxt-openingstijdenTekst {
    top: 152px;
}
.algemeneLinkjesFooter {
    position: absolute;
    width: 25%;
    height: 100%;
    left: 50%;
    /* H5 */
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    
}
.handigeLinkjesFooter{
    position:absolute;
    right: 0px;
    width: 25%;
}
