


.keyvisual {
    position: absolute;
    width: 1152px;
    height: 628px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, rgba(35, 31, 32, 0) 0%, #231F20 100%);
    opacity: 0.4;
    margin-top: 0px;
}
.titel {
    /* H1 */
    position: absolute;
    left: 2.78%;
    right: 33.42%;
    top: 54.2%;
    bottom: 23.89%;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 750px;
    display: flex;
    align-items: center;
    z-index: 1;
    color: #FFFFFF;
    /* identical to box height, or 108% */
}
.plaatje {
    position: absolute;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-image: url("/images/190422LLT8397.jpg");
    z-index: -1;
}




.informatie_links {
    font-family: Source Sans Pro;
    font-style: normal;
    position: absolute;
    width: 233px;
    height: 64px;
    left: 48px;
    top: 517px;
    background: white;
}

.text_links {
    font-weight: 600;
    font-size: 21px;
    line-height: 32px;
    /* identical to box height, or 133% */
    display: flex;
    align-items: center;
    /* Black */
    color: #1F2325;
}

.text_link_links {
    font-weight: 800;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    display: flex;
    align-items: center;
    /* Dark Grey */
    color: #36454E;
}

.pijl_links {
    position: absolute;
    left: 60.1%;
    right: -55.53%;
    top: 65.95%;
    bottom: -33.84%;
    /* Green Secundary */
    background: url(arrow-right.svg);
}

.pijl_midden {
    position: absolute;
    left: 60.1%;
    right: -55.53%;
    top: 65.95%;
    bottom: -33.84%;
    /* Green Secundary */
    background: url(arrow-right.svg);
}
.pijl_rechts {
    position: absolute;
    left: 60.1%;
    right: -55.53%;
    top: 65.95%;
    bottom: -2.84%;
    /* Green Secundary */
    background: url(arrow-right.svg);
}


.informatie_midden {
    font-family: Source Sans Pro;
    position: absolute;
    width: 233px;
    height: 64px;
    left: 281px;
    top: 517px;
    background: #ea6025;
}

.text_midden {
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 32px;
    /* identical to box height, or 133% */
    display: flex;
    align-items: center;
    /* White */
    color: #FFFFFF;
}

.text_link_midden {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    display: flex;
    align-items: center;
    /* White */
    color: #FFFFFF;
}

.informatie_rechts {
    font-family: Source Sans Pro;
    position: absolute;
    width: 233px;
    height: 64px;
    left: 514px;
    top: 517px;
    background: white;
}

.text_rechts {
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 32px;
    /* identical to box height, or 133% */
    display: flex;
    align-items: center;
    /* Black */
    color: #1F2325;
}


.text_link_rechts {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    display: flex;
    align-items: center;
    /* Dark Grey */
    color: #36454E;
}
