.pagina {
    background-color: #E1EBE9;
    padding: 2% 10% 2% 10%;
}

.zoekbalk{
    border-radius: 10px;
    padding: 1%;
}

.zoek{
    padding: 1% !important;
    font-family: sans-serif !important;
    background-color: white !important;
}